services:
  ros2_container_service:
    # — Build the image that lives in .devcontainer/Dockerfile ————————
    build:
      context: ..                       # root of the repo
      dockerfile: docker/Dockerfile
    image: ros2_container_image  # resulting image name

    container_name: ros2_container_name
    stdin_open: true
    tty: true
    network_mode: host                  # helps ROS 2 discovery (optional)

    # — Bind‑mount each git sub‑module into the workspace ————————————
    volumes:

      # Mount data and bash dirs
      - ../bash_scripts/container:/home/ros/bash_scripts:rw

      # Mount any repositories/submodules
      - ../my_ros2_pkg:/home/ros/ros2_ws/src/my_ros2_pkg:rw

      # (Optional) keep colcon’s build artefacts outside the container
      # and enable mount for gui applications
      - colcon_cache:/home/ros/.colcon
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

    environment:
      - DISPLAY=:0
      - QT_X11_NO_MITSHM=1
      - ROS_DOMAIN_ID=100
      - AUTO_LAUNCH_TMULE=true

    command: ["bash", "-l", "-c", "/home/ros/bash_scripts/start.sh 3000"]

volumes:
  colcon_cache:
